<div class="tw-flex tw-flex-col tw-gap-2 tw-w-80">
    <div class="tw-flex tw-flex-row tw-gap-2 tw-w-max">
        <img src={{celebrity.image}} class="tw-h-40 tw-w-24" />
        <div class="tw-flex tw-flex-col tw-gap-0.5">
            <h5 class="tw-bold">{{celebrity.name}}</h5>
            <p>{{celebrity.birthDate | date: 'shortDate'}}</p>
            <p>{{celebrity.gender}}</p>
            <p>{{celebrity.role}}</p>
        </div>
    </div>
    <button type="button" (click)="deleteCelebrity()" class="tw-bg-sky-500 tw-py-1 tw-px-2 tw-h-max tw-rounded tw-w-max tw-self-start">DELETE</button>
</div>
